/* =Structure Tablet
-------------------------------------------------------------- */
 /* =Reset
-------------------------------------------------------------- */
 
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}

	
/* =Structure Desktop
-------------------------------------------------------------- */

@media screen and (min-width : 1140px) {
    #primary{
        float: left;
        margin-left: 0%;
        width: 25%;
        padding: 0 1em;
    }
 
    #secondary{
        float: left;
        margin: 0px 0px 0px 0px;
        width: 50%;
        padding-bottom: 80px;
        clear: none;
    }
 
    #tertiary{
        float: right;
        width: 25%;
        clear: none;
    }
}
