		
<h2> MACS </h2>
<img src="<?=$base_url?>assets/images/macslogo.png" align="right" width="318" height="207" alt=""/>
<p align = "justify"> MEC Association of Computer Students (MACS) was created by the students of the Department of Computer Science and Engineering. MACS was conceived with a vision to inculcate aptitude for the subject among students and create an awareness about the intricacies of the field. It aims to educate the students on the advancements in the industry and learn concepts that aren't part of the curriculum.</p>
<p>
MACS facilitates the participation of students in inter-college events and initiates similar events in the college. The association is presently involved in a couple of projects and activities that are associated with the day to day functioning of the college. It maintains the web, mail and DNS servers in the college, along with the official website.</p>
<p align = "justify">
The 'Linux Week' is conducted every year by MACS to get the students and the public introduced and familiarized with the operating system. Foss meet @ MEC, the Free and Open Source Software meet was conducted for the first time at the college campus as part of the annual Tech fest of Model Engineering College - Excel 2k9. The meet is an event that brings together FOSS enthusiasts from all over to share their ideas and help promote the FOSS movement.</p>
    <div id="footer" align="center" style = "font-size:12px" >
Model Engineering College, Thrikkakara, Kochi, Kerala 682021<br />Webserver Administration : Dept. of Computer Engineering
 
   </div>
	</body>
</html>

