input#button {
width:225px;
background: #afafaf; /*the colour of the button*/
padding: 4px 4px 2px; /*apply some padding inside the button*/
border:1px solid #000000; /*required or the default border for the browser will appear*/
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
/*style the text*/
font-size:1.5em;
font-family:Oswald, sans-serif; Oswald is available from http://www.google.com/webfonts/specimen/Oswald
letter-spacing:.1em;
/*text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
color: #000000;

-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
/***SET THE BUTTON'S HOVER AND FOCUS STATES***/
input#bigbutton:hover, input#bigbutton:focus {
color:#000000;
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}


