input#button 
{
float:right;
margin-right: 30px;
height: 30px;
width:80px;
background: #afafaf; /*the colour of the button*/

}

/***SET THE BUTTON'S HOVER AND FOCUS STATES***/

input#bigbutton:hover, input#bigbutton:focus 
{
color:#000000;
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}


