@charset "utf-8";
/* CSS Document */

#contact1{
	
    margin-left: auto;
    margin-right: auto;
    height:190px;
    width:440px;
    float:center;
    background-color:lightgray;
    
}

#contact2{
    margin-left: auto;
    margin-right: auto;
    height:150px;
    width:440px;
    float:center;
    background-color:lightgray;
}

#contact3{
    margin-left: auto;
    margin-right: auto;
    height:400px;
    width:440px;
    float:center;
    background-color:lightgray;
}

section{
    background-color:white;
    height:290px;
    width:440px;
    float:center;
    padding:5px;	      
}

body {
	color: #151515;
	background-color: #F1F1F1;
}



