<br><br>
		
<p><strong>M.Tech in Computer Science & Engineering with specialization in Image Processing :</strong></p>
<p> This course endows knowledge in Digital Image Processing, Advanced Data Structures and Algorithms, Pattern Recognition, Natural Language Processing and Medical Image Techniques. Engineers learn the core concepts of image systems through various topics like Data Compression,, Multimedia Systems, Advanced computer Graphics, Artificial Neural Networks and Fuzzy Systems.  </p>
   
        
         <div id="footer" align="center" style = "font-size:12px" >
Model Engineering College, Thrikkakara, Kochi, Kerala 682021<br />Webserver Administration : Dept. of Computer Engineering
 
   </div>
	</body>
</html>
