		<br><br>
<p><strong>B.Tech in Computer Science & Engineering :</strong></p>
<p>This course imparts an outstanding educational opportunity for those planning to pursue a career or to gain in-depth knowledge in computing technology and research. Its foremost objective is to hone technical skills demanded by today's engineering professionals by providing a sound technical platform and the required knowledge base.</p>
        <div id="footer" align="center" style = "font-size:12px" >
Model Engineering College, Thrikkakara, Kochi, Kerala 682021<br />Webserver Administration : Dept. of Computer Engineering
 
   </div>
	</body>
</html>
