body {
	font: 15px Arial, Helvetica, sans-serif;
width: 100% ;
margin: 0px 100px 0px 200px auto;
color: #666;
background: #eee;

height: 100%;
}

#facprof{
margin-left: auto;
margin-right: auto;    
float:center;
width:500px;
}

#container {
	background-color: #AFAFAF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
		
	
}
 a{
	color:#333;
}
#nav {
	width: 100%;
	margin:0;
	padding: 7px 6px 0;
	background: #2b2b2b;
	line-height:100%;
	display: inline-block;
	position: relative;
}
#nav li{
	margin : 0 5px;
	padding: 0 0 8px;
	float:left;
	width: 11.5% ;
	position: relative;
	list-style:none;
}
#nav a{
	font-weight:bold;
	color: #e7e5e5;
	text-decoration:none;
	display:block;
	padding : 8px 20px;
	margin:0;
}
#nav a:hover{
	background: #000;
	color: #fff;
}
#nav .current a, #nav li:hover > a{
	background: #ddd;
	color:#666;
	border-top: 2px solid #df631f;
}
#nav ul li:hover a, #nav li:hover li a{
	background:none;
	border:none;
	color:#666;
}
#nav ul a:hover{
	color:black!important;
}
#nav li:hover > ul{
	display:block;
}
#nav ul{
	display:none;
	margin: 0;
	padding:0;
	width: 185px;
	position: absolute;
	top:35px;
	left: 0px;
	background: #ddd;
	border: 1px solid #b4b4b4;
}
#nav ul li{
	float:none;
	margin: 0px;
	padding: 0px;
}
#nav ul a{
	font-weight:normal;
}
#nav ul ul{
	left:180px;
	top: -1px
}
#main {
	min-height: 600px;
padding:10px;
 /* Height of the footer element */
}

#footer{
    position:fixed;
    height:35px;
    float:center;
    background-color: #AFAFAF;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}